[2019-09-07 19:16] RomanSytnyk opened #1 "Crashes"
I got such crashes:

[code]

And
[code]

[2019-09-09 06:34] HBiSoft commented on #1
@RomanSytnyk Can you please provide me with the following information:

- What file is it? (audio / video / image etc)
- From where do you select the file?
- Does the file contain any data (can you open it when navigating to the file)?

[2019-09-09 07:11] HBiSoft commented on #1
Please try the above commit it should fix this issue.

[2019-09-09 07:37] HBiSoft commented on #1
The issue should be fixed in `0.1.5`.

[2019-09-09 15:52] RomanSytnyk commented on #1
It's a zip archive.
Other information is unknown, 'cause it's from Firebase Crashlytics (lib in the production)

Thanks, I will try your fix later

[2019-09-11 05:21] HBiSoft commented on #1
I will be closing this issue, please feel free to reopen it if you find that the issue persists.

[2019-09-11 05:21] #1 closed

[2019-09-18 00:12] ivucetic opened #2 "Downloads"
Hi,

In your demo app, there is no option to select any file from the downloads folder. Can you help me with this?

[2019-09-20 02:31] HBiSoft commented on #2
I'm not sure I understand what you mean with "there is no option to select any file from the downloads folder"? The demo app doesn't provide you options, your device does. The app simply tells your device that it wants to pick a file and the device gives you all the available providers.

[2019-09-21 15:16] #2 closed

[2019-10-02 07:57] sourligas opened #3 "Android Studio 3.3 - Adding PickiT library build.gradle fails"
Hi,

By adding the PickiT library (implementation `com.github.HBiSoft:PickiT:0.1.6` ) on my project the build.gradle fails when it is trying to sync.

Do you have any idea why this is happening? Do you have any similar incident until now? Maybe it's a conflict with other existing implementations on my build.gradle?

Please let me know how can I help you to send more information to investigate the

[2019-10-02 08:00] HBiSoft commented on #3
Please provide your log when trying to sync your project. It should provide a reason why it's failing.

[2019-10-02 08:02] sourligas commented on #3
I will do that later on today as soon as I will try to sync the project again and have the logs.

[2019-10-02 14:56] droidluv opened #4 "Working with scoped storage"
This gem of a library is amazing in that it does what it advertises to do, but with scoped storgaes from Android 10 even with WRITE_EXTERNAL_STORAGE or the read permission File(filepath) won't be readable anymore, any good advices @HBiSoft?

[2019-10-02 15:00] droidluv commented on #4
On a side note for Android 10 using android:requestLegacyExternalStorage="true" helps but its going to be strictly enforced from Android 11

[2019-10-02 15:23] HBiSoft commented on #4
As it stands currently, the library will try to read the data column. If it fails, the file will be copied/written to a temporary folder and the path to that file will be returned.

From android 10 and onwards this will be the only way to get the "real" path of a file.

Have you tested the library on a device running Android 10?

[2019-10-02 16:30] droidluv commented on #4
I did I tested on a Pixel 2 and I still keep getting the correct path, the
problem lies in accessing the file, trying to read File(filepath) where
filepath is returned by your library, throws an access denied error,
basically making the filepath useless in a scoped situation. It's like a
shiny candy which we can only look at.

On Wed, Oct 2, 2019, 8:53 PM Hagen Brooks <notifications@github.com> wr

[2019-10-02 16:54] HBiSoft commented on #4
Wait, can you elaborate on what you said "trying to read File(filepath)"?
Please provide your implementation and use case, including your `Intent`.

[2019-10-02 17:35] droidluv commented on #4
Ok I wanted to retrieve all image and video type on a phone so I asked for read/write storage permissions and do this

                  val intent = Intent(Intent.ACTION_GET_CONTENT)
                    intent.type = "image/*"
                    intent.putExtra("return-data", true)
                    intent.addFlags(Intent.FLAG_GRANT_READ_URI_PERMISSION and Intent.FLAG_GRANT_WRITE_URI_PERMISSIO

[2019-10-03 06:45] HBiSoft commented on #4
It seems that the only reliable way going forward (Android 10 >) is to create a copy of the file in your application's private directory. Currently, this library will copy the file to your application's private directory if the file was selected from, for example, Dropbox.

Please test this by selecting an image/video from Dropbox or Google Drive. After the file has been copied, it will return a `

[2019-10-03 06:47] HBiSoft commented on #3
I'm still waiting for your reply?

[2019-10-03 07:05] sourligas commented on #3
I was not able to work on this project yesterday because of highest priority issues in another project. But I will do it today in the evening and send you the build logs. Sorry for this delay.

[2019-10-03 07:52] droidluv commented on #4
@HBiSoft Yup file selection from Google Drive works it copies into the app directory, but damn it takes a long time, isn't this a negative experience?

[2019-10-03 08:07] HBiSoft commented on #4
Well, you have 2 options.

The first is using input streams, this is how Google wants us to consume Uri's.
The problem with this is that some libraries/API's requires you to pass a `File` object or a `file://` Uri scheme. In this case, you will have to copy the file to your application's directory (this is where the second option comes in) and that is why this library was created in the first plac

[2019-10-04 06:29] sourligas commented on #3
Eventually, the issue is not related to your library. I have an issue with my project path name.

`
What went wrong:
A problem occurred evaluating project ':app'.
Failed to apply plugin [id 'com.android.application']
Your project path contains non-ASCII characters. This will most likely cause the build to fail on Windows. Please move your project to adifferent directory.`

So, I will close this is

[2019-10-04 06:29] #3 closed

[2019-10-07 13:23] HBiSoft commented on #4
Closing since I can't do anything about this. I will put this in the read me.

[2019-10-07 13:23] #4 closed

[2019-10-11 09:48] HollisCheng opened #5 "Download file question"
When i choose not local file , can i stop download function and just jump to PickiTonStartListener to show that online file are not supported, please choose local file

[2019-10-11 09:54] HBiSoft commented on #5
Currently, you can't but if you give me 30 minutes I will implement this into the library.

[2019-10-11 10:19] HBiSoft commented on #5
In the new release (`0.1.7`) you can check if a local file was selected by doing the following:

[code]

[2019-10-11 10:19] #5 closed

[2019-10-14 03:13] HollisCheng commented on #5
Perfect ,thank you very much

[2019-10-16 13:08] koushikchoudhury0 opened #6 "Crash on HTC Desire Android 5.1"
Stacktrace from Crashlytics:

[code]

[2019-10-17 05:45] HBiSoft commented on #6
That's very strange. The error is pointing to:

https://github.com/HBiSoft/PickiT/blob/9f5a8a2412afd098e6be8c87a7063d7627e02ae4/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L70

This can only be caused if the `Uri` that is passed to the above has a file scheme instead of a content scheme. But the `DownloadAsyncTask` is only called on content scheme `Uri`'s.

What I can do it make

[2019-10-21 09:12] HBiSoft commented on #6
Closing since I did not get any response.

[2019-10-21 09:12] #6 closed

[2019-11-10 08:39] tommytcchan opened #7 "Error when picking from Google Photos that requires a download"
It looks like the library doesn't support the use case when the user selects a Google Photo that isn't on their phone (ie. backed up from archives).

This is the content uri: `content://com.google.android.apps.photos.contentprovider/4/1/mediakey%3A%2Flocal%253Ae4e33dc7-fbde-4497-b771-d8099e6b1793/ORIGINAL/NONE/903022857`

and `Utils.getRealPathFromURI_API19(this, selectedImageUri)` returns null

P

[2019-11-12 06:56] RMVIVEK55 opened #8 "We cannot click pdf, doc or image from google drive files in pie"

[2019-11-12 17:28] HBiSoft commented on #8
Can you please elaborate. Did you test it in the demo app? Also, please provide your log cat.

[2019-11-12 17:34] HBiSoft commented on #7
@tommytcchan Sorry for the late reply.

Can you please elaborate on what you said `when the user selects a Google Photo that isn't on their phone (ie. backed up from archives).`?

Can you please explain how I can reproduce this?

I can add an if statement checking if the uri contains `mediakey:`

[2019-11-14 09:43] HBiSoft commented on #8
Closing until you provide more information.

[2019-11-14 09:43] #8 closed

[2019-11-19 17:06] VahanLab opened #9 "DownloadAsyncTask divide by zero"
Hi,
First, thank you for your awesome library, it really helps me 🙂
I noticed an issue when trying to get a google doc / google sheet file from Google Drive. Drive gives the file as a PDF, however, the DownloadAsyncTask crash because size is somehow equal to zero
[code]

[2019-12-08 18:26] slonomag opened #10 "permission denial"
All works fine when I use pickit in onActivityResult but I get permission error when I try to use it later in my function:

String x = "content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2FEva_Nikolskaya_Snejnaya_Zolushka.pdf";
pickiT.getPath(Uri.parse(URLDecoder.decode(x, "utf-8")), Build.VERSION.SDK_INT);

Permission denial: opening provider c

[2019-12-09 05:44] HBiSoft commented on #10
The error tells you what the issue is. You cannot use a `content` uri like to are trying to. If you have a look at the demo project, I do the following:

[code]

In your case you will have to pass :

[code]

[2019-12-09 06:01] HBiSoft commented on #7
Closing this due to inactivity.

[2019-12-09 06:01] #7 closed

[2019-12-09 06:03] HBiSoft commented on #9
This should be fixed in my latest commit. Can you please confirm?

[2019-12-09 08:40] slonomag commented on #10
Thanks!

[2019-12-10 08:58] droidluv commented on #9
Yeah this happened to me on 0.1.6 as well, I've updated to 0.1.7

[2019-12-10 09:09] HBiSoft commented on #9
@droidluv ASAIK this will happen in `0.1.7` as well? If it does, can you try the commit I pushed yesterday?

[2019-12-10 16:42] slonomag commented on #10
Hi once again!

I found an additional issue with using Uri later when you write it in database and then get it back for future usage. After saving in database you get the path with "raw%3A%2F" instead of "raw:". I downloaded your library and updated Utils.java on lines 63-65 from:

if (id.startsWith("raw:")) {
id = id.replaceFirst("raw:", "");
....

to

if (id.startsWith("raw:") || id.startsWith("

[2019-12-10 17:28] HBiSoft commented on #10
@slonomag Thanks for this. I've made the changes and it is available in `0.1.8`.

[2019-12-10 17:28] #10 closed

[2019-12-10 17:30] HBiSoft commented on #9
@droidluv I've updated to `0.1.8`, please test and let me know. I will be closing this issue until I get feedback.

[2019-12-10 17:30] #9 closed

[2019-12-12 19:52] droidluv commented on #9
I don't think its crashing anymore, can't seem to reproduce it

[2020-01-08 19:26] nasibu opened #11 "[Question] License"
Great little library,
Do you consider to put this under os license?

[2020-01-09 04:20] HBiSoft commented on #11
I was thinking of releasing it under MIT License. You will still be able to use/modify the code commercially without limitations.

[2020-01-09 04:20] #11 closed

[2020-01-19 23:36] pavelperc opened #13 "Problems with naming files from google drive. Not supported yandex disk."
Your lib has some problems with getting the name of file from google drive. It always named as "tempFile" with no extension. Also when picking files from YandexDisk drive (https://play.google.com/store/apps/details?id=ru.yandex.disk&hl=en) it returnes wasSuccessfull false and reason "column '_data' does not exist". Also I would prefer to store files in external cache directory.

I didn't changed t

[2020-01-20 11:44] HBiSoft commented on #13
Please check the latest release - https://github.com/HBiSoft/PickiT/releases/tag/0.1.9

I tested with Yandex and it is working. The name will now be the same as the original file, this should also include the file extension (if it is available). Please have a look at this - https://stackoverflow.com/a/53132045/5550161

I will be closing this issue, please open it again if you have any issues.

[2020-01-20 11:44] #13 closed

[2020-01-20 11:51] pavelperc commented on #13
I'm sorry. I used 1.0.8. I will check 1.0.9. **Please, update the description on android-arsenal.**

[2020-01-20 12:25] HBiSoft commented on #13
@pavelperc
I have no control over what is shown on android arsenal. If you want to know when the library has updated, you can "watch" it.

[2020-02-21 11:06] i140394 opened #14 "Crash on Google Drive File Selection"
My App is crashing when I have selected a file from Google Drive.
PickiT: 0.1.9
Mobile: Android Version: 6.0

![Screen Shot 2020-02-21 at 4 35 27 PM](https://user-images.githubusercontent.com/32557545/75029543-3a81d100-54c8-11ea-8632-335aedc14358.png)

[2020-02-21 11:11] HBiSoft commented on #14
What version are you using?

[2020-02-21 11:12] i140394 commented on #14
Library: 0.1.9
OS: Android 6.0

[2020-02-21 11:17] HBiSoft commented on #14
Can you send me a link to a file I can test with? The size should not be zero.

[2020-02-21 11:18] i140394 commented on #14
Sure.

[2020-02-21 11:23] i140394 commented on #14
It's only happening when I am selecting drive file from Recents section.

[2020-02-21 11:34] i140394 commented on #14
File Link: https://drive.google.com/open?id=1uNzJ5p-ZpNs0Ii-Yc5zEpYAwWgvJb5PGzcOJajLxTNc

[2020-02-21 11:36] HBiSoft commented on #14
Can you please share the uri when selecting it from Google Drive and when you select it from Recents?

[2020-02-21 11:38] i140394 commented on #14
Ok. It is crashing for Google sheet/doc etc files from **Recents** and **Drive** also.
I will share you the Uris shortly.

[2020-02-21 11:40] i140394 commented on #14
For your reference: I think this is the same issue as below one
[https://github.com/HBiSoft/PickiT/issues/9#issue-525143398](url)

[2020-02-21 11:44] i140394 commented on #14
From Drive: **content://com.google.android.apps.docs.storage/document/acc%3D9%3Bdoc%3Dencoded%3DJnO56ZsvMKX3juRDYo4DF7Xyod10TSNi6bERrFPTBkeJeXMci%2FlQaQ%3D%3D**
From Recents:
**content://com.google.android.apps.docs.storage/document/acc%3D9%3Bdoc%3Dencoded%3DJnO56ZsvMKX3juRDYo4DF7Xyod10TSNi6bERrFPTBkeJeXMci%2FlQaQ%3D%3D**

[2020-02-21 11:50] HBiSoft commented on #14
I tested on my device with the demo application and I do not see the crash, please download the project and change the following:

https://github.com/HBiSoft/PickiT/blob/c3cb420697a04a1f2c3909c0cf9fa9635bf024ef/app/src/main/java/com/hbisoft/pickitexample/MainActivity.java#L92

to

[code]

The run that on your device and see if you still get the error.

[2020-02-21 12:43] i140394 commented on #14
Yes. It is still crashing.

[2020-02-21 12:57] HBiSoft commented on #14
It doesn't make sense, here is a screen shot when selecting the file you sent me from Google Drive:

![Screenshot_20200221-145403_PickiT example](https://user-images.githubusercontent.com/35602540/75036278-29ca5e80-54ba-11ea-9800-ac3450123829.jpg)

I will change the code to check if the file size is not 0 (which it should not be, but I will do it anyway).

[2020-02-21 13:02] HBiSoft commented on #14
The other thing I do not understand is that your log is pointing to:

https://github.com/HBiSoft/PickiT/blob/c3cb420697a04a1f2c3909c0cf9fa9635bf024ef/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L98

but the dividing is happening on line 93:

https://github.com/HBiSoft/PickiT/blob/c3cb420697a04a1f2c3909c0cf9fa9635bf024ef/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.j

[2020-02-21 13:05] HBiSoft commented on #14
Please add this:

[code]
here:

https://github.com/HBiSoft/PickiT/blob/c3cb420697a04a1f2c3909c0cf9fa9635bf024ef/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L78

and let me know if the size is 0.

[2020-02-24 05:19] i140394 commented on #14
Hope this will help.
[https://drive.google.com/open?id=171_Kg1UQYlwFKiLYBLz8uGmK9oRh2KG0](url)

[2020-02-24 05:27] HBiSoft commented on #14
Please check the above

[2020-02-24 05:28] i140394 commented on #14
OK. Sure

[2020-02-24 05:49] i140394 commented on #14
Yes. Size is zero.
I have added Log statement at line number 79.

![Screen Shot 2020-02-24 at 11 17 18 AM](https://user-images.githubusercontent.com/32557545/75131090-60d98380-56f7-11ea-91e8-32b700737c4b.png)

![Screen Shot 2020-02-24 at 11 17 38 AM](https://user-images.githubusercontent.com/32557545/75131100-6fc03600-56f7-11ea-84d5-8ef25cec80da.png)

[2020-02-24 05:50] HBiSoft commented on #14
Thank you.

Please change the entire `while` loop:

https://github.com/HBiSoft/PickiT/blob/c3cb420697a04a1f2c3909c0cf9fa9635bf024ef/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L89

to the following:

[code]

Let me know if the crash goes away and I will update the library.

[2020-02-24 05:58] i140394 commented on #14
The crash is gone. But I was getting file size as **0**. Is it because size is **int** field?
And my file size is less than 1MB. Is that it?

[2020-02-24 06:02] HBiSoft commented on #14
Yes, the problem is that your file size is `0.23MB` for example, and it gets rounded to 0, thus the error. I'm busy updating the library.

[2020-02-24 06:03] i140394 commented on #14
OK. Thank You.

[2020-02-24 06:09] HBiSoft commented on #14
This is fixed in `0.1.10`. You can test it with the [demo application](https://github.com/HBiSoft/PickiT/releases/download/0.1.10/PickiTDemo.apk) if you would like.

Please test it and close the issue if it is fixed.

[2020-02-24 06:13] #14 closed

[2020-03-19 09:54] HBiSoft commented on #4
@droidluv
I thought I would update you.

Android 11 (R), will have [file paths enabled once again.](https://developer.android.com/preview/privacy/storage#all-files-access).
It is still unclear how this works, I tried testing it and could not get it working. I opened an issue on issuetracker.google.com and waiting for a response.

This will mean that you will keep `android:requestLegacyExternalStor

[2020-03-19 10:13] droidluv commented on #4
Thanks for keeping us posted, Android 11 is quite worrying me on how I can
expect changes.

On Thu, Mar 19, 2020, 3:25 PM Hagen Brooks <notifications@github.com> wrote:

[2020-03-19 13:13] HBiSoft commented on #4
@droidluv
No need to worry, Google always provides an alternative.

I did some tests on Android 11 and I was still able to access the data column. So this library will survive :)

The only thing you have to do is, add `android:requestLegacyExternalStorage="true"` in your manifest, this is to ensure that the library still works on Android 10. On Android 11>, there is no need to do anything.

I will

[2020-04-07 23:00] tobiastromm opened #15 "Error Acessing docs from Google Drive"
Hi.

Any .doc file I try to upload from drive I getting error.

If file is image or pdf is ok.

Try several files.

Can someone confirm please.

`2020-04-07 19:56:58.133 7276-7788/? E/DatabaseUtils: Writing exception to parcel
    java.lang.SecurityException: Permission Denial: reading com.google.android.apps.docs.storagebackend.StorageBackendContentProvider uri content://com.google.android.apps.d

[2020-04-08 04:11] HBiSoft commented on #15
The issue is described in the log:

    Caused by: java.lang.SecurityException: Permission Denial: reading com.google.android.apps.docs.storagebackend.StorageBackendContentProvider uri content://com.google.android.apps.docs.storage/document/acc%3D1%3Bdoc%3Dencoded%3D%2F2UAjJF6sM03B39hXL5nCqpt0ccgmnJO%2BWip%2FsaCpZPuDWXQVA%3D%3D from pid=6564, uid=10231 requires that you obtain access using ACTION_

[2020-04-08 04:11] #15 closed

[2020-04-28 07:34] shynline opened #16 "Unsupported Uri when user choose a directory"
I get Unsupported Uri for :  `content://com.android.providers.downloads.documents/tree/msd%3A11526`
when I choose a directory
API 29
And I launch directory picker like this (in order to reproduce)

`val intent = Intent(ACTION_OPEN_DOCUMENT_TREE).apply {`
`putExtra(Intent.EXTRA_LOCAL_ONLY, true)`
`putExtra(EXTRA_SHOW_ADVANCED, true)`
 `}`
`fragment.startActivityForResult(intent, requestId)`

[2020-04-28 08:40] HBiSoft commented on #16
"ACTION_OPEN_DOCUMENT_TREE" is currently not supported by this library.

What do you expect the library to return when you pass a `DocumentFile`? Do you want the path of all the files in the selected directory to be returned?

[2020-04-28 09:32] shynline commented on #16
No the path of the directory itself
Like `/some_storage/download/the_folder`
I want to pass it to `File`

[2020-04-28 17:29] HBiSoft commented on #16
I will not be implementing this becuase the only reliable way of getting the removable disk id requires API 24>.

Here is an example of how you can achieve this. I know it might not be the cleanest solution, but I've tested it and it works.

[code]

The above with return something like this `/storage/emulated/0/SomeFolder`.

I did not do a comprehensive test, please let me know if it works for you

[2020-04-28 17:29] #16 closed

[2020-05-02 21:50] Mouadabdelghafouraitali opened #17 "Caused by: java.lang.IllegalArgumentException: Invalid column latitude"
Hi, massive thanks for this library, I have an issue, when I select a video file from **(Google Photos App)**, I get the following exception :

[code]

The issue happens only on **Android 10.0 (API 29) | Emulator**, and works perfectly on other versions

**Full scenario :**

Start choosing a video file by clicking on the pick button > From the menu, choosing the Google Photos App> App crash immedi

[2020-05-03 05:24] HBiSoft commented on #17
Try enabling legacy external storage in your manifest:

[code]

[2020-05-03 14:51] Mouadabdelghafouraitali commented on #17
@HBiSoft I've already enabled it, the issue happens with **Google Photos Only** , if I choose another Gallery app, it works

[2020-05-03 14:55] HBiSoft commented on #17
@Mouadabdelghafouraitali
Does it happen with the demo application as well?

[2020-05-03 15:42] HBiSoft commented on #17
Ok, I was able to reproduce this, I will see if I can find a solution. Why would you want to select a video from Google Photos?

[2020-05-04 11:53] HBiSoft commented on #17
@Mouadabdelghafouraitali
I've done some tests and I've also asked a question on [StackOverflow](https://stackoverflow.com/questions/61586124/illegalargumentexception-invalid-column-latitude).

What I have noticed from my tests is that I do not get the crash when specifying `intent.setType("image/*");` instead of `intent.setType("video/*");`. I guess that Google Photos automatically queries the lat

[2020-05-04 11:53] #17 closed

[2020-06-23 09:15] guizot opened #19 "open failed: ENOENT (No such file or directory) Android 10"
So, I choose a PDF file, the file is inside a folder (/PRINT/PRINT/front.pdf) on "Download" folder

I get "/storage/emulated/0/Download/front.pdf"
Instead of "/storage/emulated/0/Download/PRINT/PRINT/front.pdf"

How can I solve the problem?

Device: Samsung Note 9
Version: Android 10

[2020-06-23 09:45] HBiSoft commented on #19
Please test the following:

- Download the demo application
- Place a video(mp4) file where your pdf file currently is (/storage/emulated/0/Download/PRINT/PRINT/someMovie.mp4)
- Then open the demo application and select that video file

Then post a screenshot of the demo application after you have selected the file.

[2020-06-26 13:31] HBiSoft commented on #19
Closing due to inactivity.

[2020-06-26 13:31] #19 closed

[2020-06-30 04:16] Bajranghudda opened #20 "Android 10 open failed: EACCES (Permission denied)"
Good JOB dear, impressive +1)
Thanks for putting so many efforts, are we handling in Android 10 file not found exception? Something I tried is -

[code]

[2020-06-30 04:24] HBiSoft commented on #20
Can you reproduce this in the demo application and what is the `Uri` returned from `MediaStore` (in `onActivityResult`)?

[2020-07-02 03:52] HBiSoft commented on #20
Closing due to inactivity.

[2020-07-02 03:52] #20 closed

[2020-07-15 19:50] 1nikolas opened #21 "Add license"
This library needs a license so we can use it in our apps. Have a look at [here](https://choosealicense.com/) to choose the appropriate one (I recommend MIT). Then add a `LICENSE` file in the root of this repo.

According to [this page](https://choosealicense.com/no-permission/):
_When you make a creative work (which includes code), the work is under exclusive copyright by default. Unless you incl

[2020-07-16 16:43] HBiSoft commented on #21
Thanks, I have added the license.

[2020-07-16 16:43] #21 closed

[2020-07-20 10:39] angelkoh opened #23 "Android 10 devices getting EACCES (Permission denied)"
your codes uses getExternalStorageDirectory()  which will return an exception when we try to run it on Android 10 devices with targetSdkVersion 29.

file with the deprecated code https://github.com/HBiSoft/PickiT/blob/master/pickit/src/main/java/com/hbisoft/pickit/Utils.java

referring to https://developer.android.com/reference/android/os/Environment#getExternalStorageDirectory()

[2020-07-20 11:04] HBiSoft commented on #23
Deprecated doesn't mean we can't use it anymore.

In Android 10 file path access was removed and it was returned in Android 11.
Add the following in your manifest:

[code]
Please let me know asap, I will implement it into the library after you have confirmed.
I forgot to add this.

[2020-07-22 07:21] HBiSoft commented on #23
Can you please reply.

[2020-07-23 04:16] HBiSoft commented on #23
I updated the readme. No response. Closing.

[2020-07-23 04:16] #23 closed

[2020-07-24 15:06] angelkoh commented on #23
Sorry for the none reply.

adding android:requestLegacyExternalStorage="true" works for Android 10.
however it seems like going forward, Android 11 is going to ignore it.
I'll tinker more with Android 11 and let you know if I come across anything
breaking.

great work for the library by the way.

cheers
-Angel

On Thu, 23 Jul 2020 at 12:16, Hagen Brooks <notifications@github.com> wrote:

--
Cheers

[2020-07-24 15:23] HBiSoft commented on #23
Yes, on Android 11 it will be ignored, but you still have to keep it in your manifest for it to work on Android 10.

Google confirmed this on an issue I opened - https://issuetracker.google.com/issues/151407044

Like I said in my previous comment, file path access returned in Android 11. `android:requestLegacyExternalStorage="true"` is only for Android 10.

[2020-08-09 06:36] enthussb opened #25 "File not found exception when picking file from downloads"
Whenever I select any file from downloads with filename containing spaces, it is giving me an error file not found exception & also a toast in a different language. Please provide a fix for this.

I have the traced the issue - it is due to invalid characters in the filename and we need to replace them with an underscore.

Android -10

[2020-08-09 07:36] HBiSoft commented on #25
What is the path that gets returned and what is the file name?

Please provide a screenshot using the demo application.

[2020-08-09 13:01] enthussb commented on #25
@HBiSoft I cannot capture the screenshot using the demo application as the downloads folder is disabled.

[2020-08-09 13:38] HBiSoft commented on #25
I tested and I was able to select a file from the downloads folder.

Anyway, what is the file path that gets returned?

[2020-08-10 06:56] enthussb commented on #25
Returned path by PickiT

E/RETURNED -: /storage/emulated/0/Download/**Screenshot (94).png**
This path is not found when you try to create a file object as the actual file name is **screenshot__94_.png**

You can reproduce the issue by renaming the file with spaces or brackets and then check if the file exists using File Object.

[2020-08-10 07:54] HBiSoft commented on #25
I tested this by selecting a file with the following name - **VID 2019__1234_.mp4**
PickiT returned the following path - **/storage/emulated/0/Download/VID 2019__1234_.mp4**

I tested this:
[code]
and the log gets called.

---
Can you please provide me with the `Uri` that gets returned in `onActivityResult` - `data.getData();`?

[2020-08-10 12:46] enthussb commented on #25
@HBiSoft
Uri - content://com.android.providers.downloads.documents/document/475

![image](https://user-images.githubusercontent.com/29205181/89783986-7facc480-db35-11ea-98f7-61bdd8b71387.png)
![image](https://user-images.githubusercontent.com/29205181/89783998-8afff000-db35-11ea-998e-230453d7779d.png)

[2020-08-10 16:50] sugatmankar commented on #25
If i download an zip and extracted it in Download folder
Download
|__Extracted
    |_File1
    |_File2

In this case if i selected File1

It returns /storage/emulated/0/Download/File1

It should have returned /storage/emulated/0/Download/Extracted/File1

[2020-08-11 13:13] HBiSoft commented on #25
@enthussb
Thats very strange because I'm not replacing characters in the file name.
Please try the following and see what name gets returned:

[code]

[2020-08-11 13:16] HBiSoft commented on #25
@sugatmankar
Are you using the latest version? I remember fixing this in an earlier release.
If you are using the latest version, please open a new issue and provide as much info as possible.
Thanks.

[2020-08-12 06:14] enthussb commented on #25
@HBiSoft
![image](https://user-images.githubusercontent.com/29205181/89981019-b519f500-dc90-11ea-8d22-94d6ef79dec2.png)
This is the name returned by that function whereas the original name in the file manager is
![Screenshot_20200812-114146](https://user-images.githubusercontent.com/29205181/89981123-f27e8280-dc90-11ea-96d0-150e480fc77d.jpg)

Currently, I am facing this issue only when I pick any

[2020-08-12 07:40] HBiSoft commented on #25
@enthussb
I'm not able to reproduce this.
Please provide me your entire `Intent`, so that I can test it as you have it.

[2020-08-12 09:12] enthussb commented on #25
@HBiSoft
`Intent`
![image](https://user-images.githubusercontent.com/29205181/89997683-126e7000-dcaa-11ea-9284-311438fc8645.png)

[2020-08-12 09:14] enthussb commented on #25
@HBiSoft

`final String[] ACCEPT_MIME_TYPES = {
                "application/pdf",
                "image/*"
        };
        Intent intent = new Intent()
                .setType("*/*")
                .setAction(Intent.ACTION_OPEN_DOCUMENT)
                .addCategory(Intent.CATEGORY_OPENABLE)
                .putExtra(Intent.EXTRA_MIME_TYPES, ACCEPT_MIME_TYPES);
        startActivityForResul

[2020-08-12 13:08] HBiSoft commented on #25
I tested once more and I still was not able to reproduce this.
I'm not sure if [the following will give the correct name](https://developer.android.com/training/secure-file-sharing/retrieve-info), but it's worth the try, please let me know if the correct name is returned:

[code]

[2020-08-12 17:10] enthussb commented on #25
@HBiSoft
I tested with the above code and still, I got the same name as the display name whereas the original name should have spaces replaced with underscores, or else it will give file not found exceptions.
![image](https://user-images.githubusercontent.com/29205181/90045395-9c3f2d00-dcec-11ea-8b6c-8949053d35f1.png)

[2020-08-12 18:15] HBiSoft commented on #25
Can you please explain what you meant with the following:

Also, you said the following:

I assume you meant that after launching the intent -> Files - Downloads - screenshot__94_.png?

[2020-08-13 05:37] enthussb commented on #25
It is the same as #2 Whenever I try to pick a file from downloads using PickIt I am unable to do that as all the files are disabled there.

**There are two ways to go to downloads** -

1. As shown in the below picture
2. By manually traversing through Internal Storage -> Downloads (File manager basically)

Whenever I pick a file **having spaces or bracket in its name** from downloads using the **f

[2020-08-13 05:46] HBiSoft commented on #25
@enthussb

No, video files are not disabled. In the demo application `intent.setType("video/*");` is passed to the `Intent`.
I wanted you to test with the demo application (by selecting a video) to see if the problem might be with the `Intent`.
Instead of selecting an image, rename a video inside your downloads folder to a similar name and test it again.

Yes, I tested both ways.

[2020-08-13 07:12] enthussb commented on #25
@HBiSoft The issue is if you rename it from your file manager it will work as it corrects the file name. Could you provide me your email so that I can send you the image there and then after downloading it you can check the issue?

[2020-08-13 07:49] HBiSoft commented on #25
@enthussb

No, the issue is that an incorrect name is given when querying the `DISPLAY_NAME` column (this is not related to the library) and we will not be able to fix it afterwards (by renaming it) because how will we know that the name is incorrect..

---

Instead of selecting an image, rename a video inside your downloads folder to a similar name and test it again.

Did you test this?

---

Sur

[2020-08-13 16:53] coder9118 opened #26 "Unable to select file from downloads folder ,drive."

[2020-08-13 17:04] HBiSoft commented on #26
Please provide more information

[2020-08-13 17:50] HBiSoft commented on #26
I will reopen this issue after you have provided more information. There is no way for me to figure out what the issue without proper explanation.

[2020-08-13 17:50] #26 closed

[2020-08-14 12:34] enthussb commented on #25
@HBiSoft I checked with what you said and it works as file is renamed using the file manager but the problem which I am facing is different & I am unable to explain to you right now. Closing this temporarily

[2020-08-14 12:34] #25 closed

[2020-09-04 11:41] Parag2385 opened #27 "Help with multiple files"
Hello, this is very great work.

I just have a problem/feature request, how could we get multiple file's real paths at once? As your using callbacks, you cannot call the pickit.getPath() method in loop, right?

So have you considered this scenario for your future releases? Or if you know any workaround for the same?

Thanks.

[2020-09-06 13:23] HBiSoft commented on #27
Apologies for the late reply.

I'm currently to busy to implement this, but I will look into implementing it in the next week or so.
If you want, you can implement it and create a pull request.

I will temporarily close this issue, I will notify you once I've implemented this.

[2020-09-06 13:23] #27 closed

[2020-09-11 09:52] mohamadIT2018 opened #28 "does not work in api 21(Lollipop)"

[2020-09-11 11:25] HBiSoft commented on #28
Please provide more information.

Where do you select a file from?
Have you tested using the demo application?
What does your log say?

As the issue is now it is impossible for me to help you.

[2020-09-12 15:23] HBiSoft commented on #28
Closing until more information is provided.

[2020-09-12 15:23] #28 closed

[2020-09-15 04:45] HBiSoft opened #29 "Always fill in the issue template"
It is not possible to predict the cause of an error without a log, knowing your environment, understanding what you are trying to achieve or which steps you took.

So, please fill in the issue template when creating an issue.

Issues that do not fill out the issue template fields will be closed immediately until the fields are filled in.

[2020-09-15 04:46] #29 closed

[2020-10-15 16:57] coder9118 opened #31 "How can i wait to get path from uri in case of multiple file pick. And then pass it to other service ?"

[2020-10-16 19:11] #31 closed

[2020-10-18 22:46] Alimittech commented on #7
Hi bro.
I when choose a file or image from google drive or google photos , app crash.
file and photo have local URI and don't need to download.

[2020-11-27 19:48] savvas17 opened #32 "Android API 28: getPath of a Downloads URI not working"
**Describe the bug**
getPath is unable to get the path of an image in the **downloads** folder for android 9 (API 28) specifically. Testing on API 27 works as expected. I assume that the path utility is missing certain cases for this type of provider.

**Log**
    The file used to test is a simple `.jpeg` file of a medium size. Using a URI that originates from the **File Manager** (i.e. not the ga

[2020-11-28 05:17] HBiSoft commented on #32
Please provide an example of how this can be reproduced.

[2020-11-28 06:06] savvas17 commented on #32
I reproduced the URI in the Example app, and the example app managed to get the path correctly. This leads me to believe that it may be a problem with my code. For now I will close the issue. Thank you.

[2020-11-28 06:06] #32 closed

[2020-12-09 05:41] singhsandip opened #33 "Crash:DownloadAsyncTask.java:84"
Hi, massive thanks for this library, I have an issue in DownloadAsyncTask class

Caused by java.lang.IllegalStateException
Couldn't read row 0, col -1 from CursorWindow. Make sure the Cursor is initialized correctly before accessing data from it.
com.hbisoft.pickit.DownloadAsyncTask.doInBackground

![Screenshot from 2020-12-09 11-10-27](https://user-images.githubusercontent.com/23272322/101589862-

[2020-12-09 08:11] HBiSoft commented on #33
This doesn't make sense at all. The crash is pointing to:

https://github.com/HBiSoft/PickiT/blob/65a5dde9d84884e84d0cf084f62d3de2c229c365/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L84

It says `Make sure the Cursor is initialized correctly before accessing data from it.` but I have the following:

https://github.com/HBiSoft/PickiT/blob/65a5dde9d84884e84d0cf084f62d3de2c229c365

[2020-12-18 04:18] HBiSoft commented on #33
No response, closing.

[2020-12-18 04:18] #33 closed

[2021-01-18 14:11] hantash07 commented on #17
I got the solution. Check my answer here:

https://stackoverflow.com/questions/61586124/illegalargumentexception-invalid-column-latitude/65776020#65776020

[2021-02-06 00:10] ivanlares opened #34 "Selecting a recent image in gallery doesn't seem to work"
Thank you for your work here. When selecting an image from Gallery everything works.

When selecting on a "recent image" the path returned in `PickiTonCompleteListener` is null.

**Full Log**
`path: null, wasDriveFile: false, wasUnknownProvider: false, wasSuccessful: false, reason: null`

In `onActivityResult` this is what I'm getting when selecting a "recent image":
`uri.path.toString()` : `/docu

[2021-02-06 07:48] HBiSoft commented on #34
Please download/install the [demo application](https://github.com/HBiSoft/PickiT/releases/download/0.1.14/PickiTDemo.apk) and check if it still returns `null`.

---

`content://com.android.providers.media.documents/document/image%3A31` is a valid `Uri` and should work.

I tested on my device, also running 30, and it works fine:

Uri - `content://com.android.providers.media.documents/document/image

[2021-02-07 04:10] ivanlares commented on #34
Hello @HBiSoft, I wasn't too sure how to run the APK file attached on my device. I realized the issue may be due to my use of the Android Virtual Device. I tested my application on a physical device and I got an error message. In the AVD there was no error message. Therefore I solved for the error (missing read permissions) and everything works as expected. Thank you

[2021-02-07 04:10] #34 closed

[2021-02-27 07:47] HuuNguyen312 opened #35 "Return wrong path"
**Return wrong path**
- After choosing a file from Intent in KakaotalkDownload, but data from pickiT.getPath in Download folder
- So, I received FileNotFoundException.

**Expect**
Return path: xxx/KakaotalkDownload/filename

**Can it be reproduced in demo app**
Yes

**Device information**
- Samsung Note 10 Lite
- SDK version: 29 (Android 10)

**Screenshots**

![Screenshot_20210227-163755_PickiT ex

[2021-03-02 06:17] HBiSoft commented on #35
I downloaded KakaoTalk, downloaded a file I sent to myself and tested the path in the demo application. I get the correct path: `/storage/emulated/0/KakaotalkDownload/test.mp4`.

Please share your `Intent`. I see that you select a `.pdf` file, but the demo application gives you an option to select a video, so you must have changed the `Intent`.

[2021-03-02 07:16] HuuNguyen312 commented on #35
This is my Intent

[code]

This is block code in my case
`return Environment.getExternalStorageDirectory().toString() + "/Download/"+ fileName;`

![image](https://user-images.githubusercontent.com/9895294/109611343-acbbd580-7b60-11eb-82fc-e0317f07a3f5.png)

I tried using this file by another app (Telegram, kakaotalk, ...). This file can still be read and sent normally.
I can add more log to any co

[2021-03-06 17:23] HBiSoft commented on #35
I was not able to reproduce this. Please download the original demo application (https://github.com/HBiSoft/PickiT/releases/download/0.1.14/PickiTDemo.apk) and select a video file instead of a pdf. Let me know what path you then get.

[2021-03-14 05:39] HBiSoft commented on #35
Closing until more information (asked above) is provided.

[2021-03-14 05:39] #35 closed

[2021-03-14 07:44] andrewindayang opened #36 "crash on recent image file"
java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=1120, result=-1, data=Intent { dat=content://com.android.providers.media.documents/document/image:8585 flg=0x1 }}

is there any idea why the path is null????

i am using android 11

[2021-03-14 07:46] andrewindayang commented on #36
i am really sorry, found the issue where the permission is not allowed. May be this can be a solution for user who face this problem. thank you.

[2021-03-14 07:46] #36 closed

[2021-04-16 13:34] Mouadabdelghafouraitali opened #37 "Scoped Storage warning messages"
Not an issue or bug, but just a question regarding the new Google Play policy,

We've detected that your app contains the requestLegacyExternalStorage flag in the manifest file of 1 or more of your app bundles or APKs.

Developers with apps on devices running Android 11+ must use Scoped Storage to give users better access control over their device storage. To release your app on Android 11 or newe

[2021-04-26 13:35] #37 closed

[2021-05-17 16:46] andrewindayang opened #39 "please do update for jcenter migration please"
please do update for jcenter migration please

[2021-05-18 08:32] HBiSoft commented on #39
I'm not really sure what you are asking.

If you are asking me to migrate the project from maven to jcenter - [Jcenter is closing soon](https://blog.gradle.org/jcenter-shutdown#:~:text=On%20February%203%202021%2C%20JFrog,shutting%20down%20Bintray%20and%20JCenter.&text=run%20your%20code.-,Gradle%20may%20not%20be%20able%20to%20download%20the%20dependencies%20used,publish%20your%20package%20to%20Bint

[2021-05-18 14:15] andrewindayang commented on #39
hi, yes. jcenter is closing soon. May i know when are you gonna submit for update?

[2021-05-18 14:29] HBiSoft commented on #39
What do you want me to update?

[2021-05-18 14:34] andrewindayang commented on #39
before that sorry if i am wrong or not. But when i create new project and i didnt include jcenter() on gradle,  i tried to
    implementation 'com.github.HBiSoft:PickiT:0.1.14'

and i got error due to the library need jcenter() on the gradle

[2021-05-21 13:14] amitagnihotri opened #40 "Android 11 we can't fetch pdf file and store own path. Can you please check?"
**Describe the bug**
- Please fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a well-formatted bug report (by a

[2021-05-21 13:21] HBiSoft commented on #40
Please see [Always fill in the issue template](https://github.com/HBiSoft/PickiT/issues/29).

Edit your issue and provide as much information as possible, the issue will be closed until you do.

[2021-05-21 13:21] #40 closed

[2021-05-24 17:04] kneza23 commented on #37
What happend with this? I ask because you can not relelase app with requestLegacyExternalStorage and android targeet 30

[2021-05-24 17:07] kneza23 commented on #4
@HBiSoft but google states that apps with `android:requestLegacyExternalStorage` wont be able to be released anymore?

[2021-05-24 18:13] HBiSoft commented on #4
@kneza23 `wont be able to be released anymore` where does Google say this?

[2021-05-24 18:17] HBiSoft commented on #37
@kneza23
`because you can not relelase app with requestLegacyExternalStorage and android targeet 30`
Yes you can. I'm not sure where you read this but it's not true.

Starting with Android R, this attribute `requestLegacyExternalStorage` will be ignored. `requestLegacyExternalStorage` is only for Android 10, where file access was removed and it returned with the release of Android 11(R).

[2021-05-24 18:26] HBiSoft commented on #37
This library doesn't use `MANAGE_EXTERNAL_STORAGE`, which Google is referring to in the issue/question. As stated in my previous comment, `requestLegacyExternalStorage` will be ignored on Android 11>, but it's still necessary for reading files on Android 10.

[2021-05-24 20:30] kneza23 commented on #37
yeah i was wrong :) i read it now carefully

[2021-06-05 03:29] #39 closed

[2021-09-29 09:51] adigujjar commented on #36
@andrewindayang  i have the same issue which permission you added can you help me out

[2021-10-27 16:50] el-Knix opened #41 "Picking a file from a subfolder inside downloads folder returns wrong path"
**Describe the bug**
If you select a file that is inside a subfolder inside the downloads tab, pickit returns path of the file without the subfolder name.

**Can it be reproduced in demo app**
Yes

**PickiT version**
0.1.14

**Device information**
- Huawei Mate 20 Pro
- 29

[2021-10-30 20:12] Ammarulhaq commented on #41
@el-Knix I think this issue is not about pickIt SDK. I'd the same issue what actually happens is when we use download file function path is reference to "Download" directory what i did was i just  point my directory to  "Download/MY_FOLDER_NAME" and it worked

[2021-10-31 05:21] HBiSoft commented on #41
@el-Knix
I was able to reproduce this. The only way I can work around this is to check for the `msf:` protocol and copy the file to your apps directly.

@Ammarulhaq
Can you please elaborate on what you mean with:

[2021-10-31 08:52] el-Knix commented on #41
@HBiSoft That's the work around I'm currently using. Not ideal but I guess there's no choice.

[2021-11-05 10:14] HBiSoft commented on #41
I've made the necessary changes and will implement it into the library tomorrow.

It will now first check for the `msf:` protocol, then check if the file is available in the Downloads directory, if not it means it's in a subdirectory inside the Downloads directory and gets copied into the applications directory.

I will keep looking for ways to do it without copying the file, but in the meantime t

[2021-11-07 11:48] pawaom opened #42 "how can we pass Media store Id to get the file"
I am totally new to android 11 file access,

I have a simple question , I have an activity where we get the Song Id using `MediaStore.Audio.Media._ID` , I want to pass it to an activity which uses `Jaudiotagger` for which I need the file using `File =  new File();` which is in a separate activity.

So from activity A I pass the Intent extra like this
[code]
and in Activity B , I get it Like this,

[2021-11-07 15:33] HBiSoft commented on #42
Yes, `startActivityForResult(intent, SELECT_VIDEO_REQUEST)` is deprecated, but it's a demo application and it works as is. I will update it when I have the time.

As for your question, I'm not really sure what you are asking and if it's relevant to the library?

[2021-11-07 15:46] #42 closed

[2021-11-08 02:33] pawaom commented on #42
can you please provide an example should I pass `ContentUris.withAppendedId(MediaStore.Audio.Media.EXTERNAL_CONTENT_URI,
                                songCursor.getLong(songCursor.getColumnIndexOrThrow(MediaStore.Audio.Media._ID))`

[2021-11-09 18:20] el-Knix commented on #41
Thanks Mate that will have to do...Great work on the library!

[2021-11-10 05:46] HBiSoft commented on #41
@el-Knix
My apologies for the delay.

I have found a way to get the file without having to copy it, by using `/proc/`.
I have tested it on multiple devices, but it would be great if you can test it as well.

The latest release (2.0.1) is available [here](https://github.com/HBiSoft/PickiT/releases/tag/2.0.1).

---
Please close the issue after you have tested it.

[2021-11-10 14:04] el-Knix commented on #41
@HBiSoft
Just tested, seems to work great kudos.

Just one issue, the filename seems to be lost with this method since the proc path only has a number, any idea on how we can get the filename from the /proc/ path?

[2021-11-10 17:42] HBiSoft commented on #41
@el-Knix
You will have to make use of the original `Uri` that gets returned from `MediaStore`.

Here's how I do it inside the library:

https://github.com/HBiSoft/PickiT/blob/81e4601ba2a8ef9cd6a5ddaf1f21691dd3dccd8f/pickit/src/main/java/com/hbisoft/pickit/DownloadAsyncTask.java#L131-L153

[2021-11-10 17:42] #41 closed

[2021-11-19 12:11] selankon opened #43 "Flutter Plugin"
Hi,

I started to develop a Flutter plugin that implements this library:

https://gitlab.com/elRepo.io/flutter_absolute_path

I'm still developing it, remote files are not supported yet, and I'm going to make some changes, but now local file path is working well.

That's it!

[2021-11-22 10:24] selankon opened #44 "An isUnknownProvider function could be util"
**Is your feature request related to a problem? Please describe.**

You can use `wasLocalFileSelected` to check if is a local file before trying to get it locally, for example, to notice the user the file is going to be downloaded before access it.

Unfortunately, you have to use `getPath` before know if is an unknown provider, causing, if I understood it well, the tmp copy download into project d

[2021-11-22 11:00] HBiSoft commented on #44
The problem is `isUnknownProvider` can't be called before checking the `Uri`. `isUnknownProvider` does not necessarily mean that it is a file from an unknown provider, but also when a file path can't be retrieved. So, we first have to check if the file path can be "retrieved" before we can know if it's from an "unkown" provider.

What you can do is to call `wasLocalFileSelected(Uri uri)` to check

[2021-11-22 11:00] #44 closed

[2021-11-22 11:01] #43 closed

[2021-11-22 14:48] selankon commented on #44
What I don't want is to start a download when I execute `getPath()`, what as I understand, occurs if `isUnknownProvider` is true.

And also, can I ask, if, for example, a file is present on the google drive folder but is already downloaded,  `wasLocalFileSelected` will return true?

Thanks in advance

[2021-12-02 07:12] HBiSoft commented on #44
My apologies for the delay.

With the [new release](https://github.com/HBiSoft/PickiT/releases/tag/2.0.2) (2.0.2), you are able to check if the `Uri` is from an unknown provider by using `pickiT.isUnknownProvider(uri, Build.VERSION.SDK_INT);`.

If you want to find out if the file needs to be downloaded first, you can do the following:

[code]

[2021-12-03 09:31] selankon commented on #44
Thanks for your answer and your implementation.

So, to know if file need to be download I could use, for example:

[code]

The question here is if the method `wasLocalFileSelected` is deprecated.

[2021-12-03 11:45] HBiSoft commented on #44
I wanted to change `wasLocalFileSelected` to `isDriveFile`, but I forgot. So yes it can still be used.

---

[code]

You can use the above to check if the file needs to be downloaded first.

[2021-12-03 12:32] selankon commented on #44
That's nice thanks!

[2021-12-05 09:42] selankon commented on #44
Hi,

I got this error:

[code]

I'm not pretty sure if I'm updating the package properly. I update version number on my `build.gradle` file and then just compile again...

I can't locate the function `isUnknownProvider` on last commit on master neither, I guess is not merged properly?

[2021-12-20 19:03] selankon commented on #44
Hi, any updates?

`pickiT.isUnknownProvider`  doesn't seem to exist on master: https://github.com/HBiSoft/PickiT/blob/master/pickit/src/main/java/com/hbisoft/pickit/PickiT.java

[2022-01-13 07:24] selankon opened #45 "isUnknownProvider doesn't exist"
**Is your feature request related to a problem? Please describe.**

Related to #44, you answered me that a method called `pickiT.isUnknownProvider` is exposed. Meanwhile, you didn't merge or push this change at master or any other place that I saw.

**Describe the solution you'd like**

Probably you push it somewhere else? Please could you specify where to find this method?

This issue is just a r

[2022-01-22 04:30] MohamedMohy9192 opened #46 "mpossible to open '/storage/emulated/0/Download/first_video.mp4'"
Above android 9

I am using the library to get the path from the URI of videos after selecting them from the download folder using ACTION_PICK like the example code. after generating the path using the library and passing it to FFmpeg Kit the app gives me that error

`2022-01-22 06:19:30.751 13954-13998/com.hbisoft.pickitexample E/ffmpeg-kit: [concat @ 0xc5da8000] Impossible to open '/storage/emul

[2022-01-25 05:16] HBiSoft commented on #46
Can you please provide the `Uri` returned from `MediaStore`?

[2022-01-25 05:20] HBiSoft commented on #45
Hi @selankon

My apologies for the delay. I will be updating the library today.

[2022-01-27 07:47] Ammarulhaq opened #47 "Path for Document Folder"
I am using this library to upload files inside my app. It returns path for all other folder but when i pick file from Document Folder it says some error occur check log files.

[2022-02-08 10:39] selankon commented on #45
Hi!

What about this! Expecting :)

[2022-02-08 17:56] HBiSoft commented on #46
Inactive, closing.

[2022-02-08 17:56] #46 closed

[2022-02-09 13:02] HBiSoft commented on #47
Please provide your log and how you open your intent

[2022-02-09 13:12] HBiSoft commented on #45
Fixed in [2.0.3](https://github.com/HBiSoft/PickiT/releases/tag/2.0.3). Apologies for the delay.

[2022-02-09 13:12] #45 closed

[2022-02-10 09:08] selankon commented on #45
thanks

[2022-02-24 04:37] HBiSoft commented on #47
No response. Closing

[2022-02-24 04:37] #47 closed

[2022-03-14 12:18] selankon opened #48 "Crash for some images"
**Describe the bug**

After upgrading to `PickIt 2.0.3` we implemented the method `pickiT.isUnknownProvider(uri, Build.VERSION.SDK_INT)`. For some images, the program crash unexpectedly.

**Describe the bug**

We have this line where it crash:

[code]

And for this file `content://com.android.providers.media.documents/document/image%3A66` the program crash.
But **NOT** for this `content://com.andr

[2022-03-29 21:42] selankon commented on #48
Hi!

Any ideas where to search with that? I'm not very habituated to Android

[2022-03-30 06:25] HBiSoft commented on #48
It seems like your `Activity` is null.

Did you call `pickiT = new PickiT(this, this, this);` before calling `pickiT.isUnknownProvider(uri, Build.VERSION.SDK_INT)  || !pickiT.wasLocalFileSelected(uri)`?

---
The crash is happening in `DownloadAsyncTask` and it should not happen when you are only calling the above because `isUnknownProvider` is not calling `DownloadAsyncTask`.

Please provide your

[2022-04-01 15:40] huutho-dev opened #49 "Crash SecurityException Permission Denial"
Caused by java.lang.SecurityException
Permission Denial: opening provider com.google.android.libraries.storage.storagelib.FileProvider from ProcessRecord{4362fa7d0 18613:package.name/u0a1183} (pid=18613, uid=11183) that is not exported from UID 10198

This bug occused when open file from file manager.
I think it happen with devices have removable-storage (sdcard)
 - Device: Galaxy S8
 - Android: 9

[2022-04-01 17:02] HBiSoft commented on #49
I don't think this is related to the library. Did you add `FLAG_GRANT_READ_URI_PERMISSION` to your intent?

[2022-04-02 01:34] huutho-dev commented on #49
<img width="599" alt="image" src="https://user-images.githubusercontent.com/14016488/161360080-222bcf2b-77b8-4ccd-b1f3-fa1c121f72cb.png">

Because intent start from FileManager, so I don't know add FLAG_GRANT_READ_URI_PERMISSION to where.

I has add flag FLAG_GRANT_READ_URI_PERMISSION like below image, but nothing change

<img width="599" alt="image" src="https://user-images.githubusercontent.com/

[2022-04-04 07:52] HBiSoft commented on #49
What does the `Uri` return - `intent.data`?

[2022-04-04 16:08] HBiSoft commented on #49
Exactly what I thought. **This library is for returning file paths from `MediaStore`**, as shown in the demo application.

---

You are selecting a file with, what I assume is an app called File Manager. It then returns the `Uri`, you pass it to `PickiT` and then it crashes.

It's impossible to know what `content://com.whatsapp.provider.media/item/61e3361d-9265-4816-a2af-2b07c727dcd7` is pointing

[2022-04-04 16:08] #49 closed

[2022-04-04 16:57] huutho-dev commented on #49
Yes, Thanks for supported.

[2022-04-25 06:17] ahmadbajwa8282 opened #50 "Android- Crash on Android 9"
**Caused by java.lang.SecurityException**

[2022-04-25 06:51] HBiSoft commented on #50
The issue is described in the log:
[code]

You should use `ACTION_OPEN_DOCUMENT` instead of `ACTION_GET_CONTENT`

---

This issue was already opened here - #10 and #15

[2022-04-25 06:51] #50 closed

[2022-04-27 13:56] selankon commented on #48
Hi, sorry for the late answer:

I'm trying to use PickiT on a flutter plugin. The code is here https://gitlab.com/elRepo.io/flutter_absolute_path/, where relevant parts are:

* https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/master/android/src/main/java/net/altermundi/flutter_absolute_path/FlutterAbsolutePathPlugin.java#L58
* https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/mast

[2022-04-27 13:56] selankon commented on #48
Please reopen the issue again

[2022-04-27 15:43] HBiSoft commented on #48
Where exactly are you selecting the file from? Are you using Android's default file picker or a third party application, like "File Manager"?

[2022-04-28 07:36] selankon commented on #48
Thanks for the fast answer.

I'm not sure, I'm using a [flutter file picker](https://pub.dev/packages/file_picker) plugin which seem to call the default file picker, but not pretty sure. [On this function](https://github.com/miguelpruivo/flutter_file_picker/blob/443808b9cd350f8224169a2ebc5ceb555e2772d8/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerDelegate.java#L212) it build th

[2022-04-28 08:42] HBiSoft commented on #48
Please try the following and get back to me...

Remove line 64-70 in [your project](https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/master/android/src/main/java/net/altermundi/flutter_absolute_path/FlutterAbsolutePathPlugin.java#L64) :
[code]
and add the following:

[code]

Then run your application and let me know if it is still crashing.

[2022-04-28 09:23] HBiSoft commented on #48
Ok just remove `pickiT.getPath(uri, android.os.Build.VERSION.SDK_INT);` and keep the rest as it was

[2022-04-28 09:30] selankon commented on #48
Ok, here the behavior for "non crashing files" is no string returned (it never arrive [here](https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/master/android/src/main/java/net/altermundi/flutter_absolute_path/FlutterAbsolutePathPlugin.java#L142)).

For the "crshing file" the result is a string that say `Remote file`.

[2022-04-28 10:06] HBiSoft commented on #48
Can you please confirm if you tested removing `pickiT.getPath(uri, android.os.Build.VERSION.SDK_INT);`?

[2022-04-28 10:15] selankon commented on #48
[code]

This causes no crash, but neither return the absolute path for the "no-crashing" files, and for the "crashing" files return the string `Remote file`.

For some reason PickiT thought that is a remote file

[2022-04-28 13:07] HBiSoft commented on #48
The only logical conclusion I have is that the library (flutter_file_picker) you are using is setting the intent to the following when selecting images:

[code]
and not adding the following action when selecting images (Only when its not images):

[code]

You can see this [here](https://github.com/miguelpruivo/flutter_file_picker/blob/443808b9cd350f8224169a2ebc5ceb555e2772d8/android/src/main/java/

[2022-04-28 13:16] selankon commented on #48
Hi thanks for the answer. Could be possible that with the compiled demo example apk I can only select videos?

[2022-04-28 13:19] HBiSoft commented on #48
I will change it so you can select images instead. I will let you know when it's updated.

[2022-04-28 13:48] HBiSoft commented on #48
I've updated it, you can download the updated demo application [here](https://github.com/HBiSoft/PickiT/releases/download/2.0.4/PickiTDemo.apk). Let me know what happens when you select the file that's causing the crash.

[2022-04-28 14:05] selankon commented on #48
Ok, no crash. But:

For the images that causes a crash, PickiT copy it to a temp file. I send you the PickiT log obtained doing: `adb logcat | grep --ignore-case -i "pickit"`. So a temporary solution for me is to implement a temporary copy of the image as you do in the demo. Here the log:

[code]

Is really strange, why this images are treated as "network" files?!

[2022-04-28 14:41] HBiSoft commented on #48
After some testing, I found the reason why this is happening. I will fix it and let you know once I have updated the library.

[2022-04-28 14:55] HBiSoft commented on #48
This is fixed in `2.0.5`. You can test the [demo application](https://github.com/HBiSoft/PickiT/releases/download/2.0.5/PickiTDemo.apk), it should now return the path instead of unnecessarily copying the file to the temp folder. Please let me know after you have tested.

[2022-04-29 08:01] selankon commented on #48
Thx I test ASAP

[2022-04-29 11:11] selankon commented on #48
Yep now it works now, thank you so much!  :D

[2022-04-29 13:10] HBiSoft commented on #48
You're welcome. Thanks for reporting it.

[2022-05-03 09:56] selankon commented on #48
Seem is still crashing on the flutter "portability" with exactly the same behavior described [above](https://github.com/HBiSoft/PickiT/issues/48#issuecomment-1112028987). I have to change something on the implementation?

I just upgraded to PickiT 2.0.5 onmy Gradle but nothing seems to change!

[2022-05-03 14:53] HBiSoft commented on #48
Can you please send me a recording of this? The entire process, from opening the application until the crash occurs.

[2022-05-06 07:42] selankon commented on #48
Hi,

Ok. First I updated all references of the PickiT library on all `build.gradle`:

[code]

This simple action should upgrade the library right? I suspect this didn't work as expected...

And then, my code didn't change. With [this](https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/master/android/src/main/java/net/altermundi/flutter_absolute_path/FlutterAbsolutePathPlugin.java#L66) code:

[2022-05-06 11:10] HBiSoft commented on #48
Without this, I can't help you.

You can download the demo application of my screen recording library [here](github.com/HBiSoft/HBRecorder), or you can download a screen recording app and send me the video of the entire process. From the moment you open your application until it crashes.

[2022-05-06 12:22] selankon commented on #48
I don't see how this can help.

This is with the line commented:

https://user-images.githubusercontent.com/16777076/167129713-aa53d559-e3f0-455b-b057-647b155dfb51.mp4

[2022-05-11 06:08] selankon commented on #48
I didn't saw the video doesn't upload properly. Trying again using `'com.github.HBiSoft:PickiT:2.0.5'` on gradle:

### Using `pickiT.getPath(uri, android.os.Build.VERSION.SDK_INT)`

Using [this](https://gitlab.com/elRepo.io/flutter_absolute_path/-/blob/master/android/src/main/java/net/altermundi/flutter_absolute_path/FlutterAbsolutePathPlugin.java#L66) code.

The program simply crashes due the [Ac

[2022-05-11 06:10] selankon commented on #48
Is possible that library is not updated properly on Gradle? The behavior is exactly same as previous version `2.0.3`, and not as the demo application

[2022-05-13 07:28] milan-galitein opened #51 "java.lang.SecurityException: Permission Denial: opening provider com.google.android.apps.photos.contentprovider"
**Describe the bug**
- I am getting crash log from live App.

**Log**
`java.lang.SecurityException: Permission Denial: opening provider com.google.android.apps.photos.contentprovider.impl.MediaContentProvider from ProcessRecord{c17cc1b 26188:com.einpix.android/u0a165} (pid=26188, uid=10165) that is not exported from UID 10143
    at android.os.Parcel.createExceptionOrNull(Parcel.java:2373)
    at

[2022-05-13 07:47] HBiSoft commented on #51
With the limited amount of information provided, I can only presume your issue is related to [this](https://stackoverflow.com/a/43398935/5550161).

[2022-05-13 07:47] #51 closed

[2022-05-13 07:58] HBiSoft commented on #48
Like I said previously, this is not related to the library itself.

There are a lot of things that can cause this, for example; Have a look at my demo application, I use `ClipData` to check if multiple files were selected. I have found previously that if you do not use `ClipData` to check if multiple files are selected, it causes issues on some devices. EVEN IF YOU ONLY SELECT ONE FILE.

https://g

[2022-05-13 07:58] #48 closed

[2022-05-13 08:06] selankon commented on #48
Ok I will double check this

[2022-05-17 11:07] selankon commented on #48
Hi,

After fork my own implementation for the Flutter file dialog, I'm developing a working example that gets absolute file path using PickiT from a Flutter plugin.

See this MR to see the changes https://gitlab.com/elRepo.io/flutter_file_dialog_pickit/-/merge_requests/1

[2022-05-17 11:25] HBiSoft commented on #48
@selankon So it is working now?

[2022-05-17 11:27] selankon commented on #48
Yes, thanks. As you said, using `ClipData` fixed the problem

[2022-05-17 11:35] HBiSoft commented on #48
Great. I'm glad you were able to get it working. Let me know when there is anything else I can help you with.

[2022-05-17 11:40] selankon commented on #48
Yes! Thanks for support! (and for the library, I'm surprised of how difficult is to get an Absolute path on Android devices...)

[2022-05-18 11:09] selankon opened #52 "Error if getPath parameter already is an absolute path"
**Describe the bug**

Actually, if I try to pass an absolute path to `getPath`, the program throw an exception.

The correct behavior should be to return the same path you put in if already is an absolute path?  This could happen when receiving a sharing intent and android copy the file into application cache files.

From the existing  absolute I do de following before ask `getPath`:

[code]

**Lo

[2022-05-18 11:43] HBiSoft commented on #52
The problem with this is that `PickiT` is intended for native Android `MediaStore`.
When selecting media from from `MediaStore` an `Uri` gets returned.

Where as what you are doing - `val uri: Uri = Uri.parse(absoluteUriPath!!)` parses a `String` to a `Uri`. I can't get the `absoluteUriPath` from your `Uri` to check if the file exists.

What I can suggest is to check if the file exists before pass

[2022-05-18 11:43] #52 closed

[2022-05-24 10:27] selankon commented on #52
FTR the problem was that the flutter plugin to handle sharing intents was returning the absolute file for a copy-cache of the sent file.

I created a POC implementing receive sharing intent using PickiT library for Flutter.

https://gitlab.com/elRepo.io/receive_sharing_intent_pickit/-/merge_requests/1

[2022-09-05 10:09] ahmadbajwa8282 opened #53 "Caused by java.lang.SecurityException: Permission Denial"
`    implementation 'com.github.HBiSoft:PickiT:2.0.3'`

[code]

[2022-09-05 10:25] HBiSoft commented on #53
The issue is described in the log:

    Caused by: java.lang.SecurityException: Permission Denial: reading com.google.android.apps.docs.storagebackend.StorageBackendContentProvider uri content://com.google.android.apps.docs.storage/document/acc%3D2%3Bdoc%3Dencoded%3D0ap1EmWcFP7yBkFDVTwpCmtcuoPnD-uU5gpAc4SJwf86WBFPVc_gwMyIbZjh from pid=6564, uid=10231 requires that you obtain access using ACTION_OP

[2022-09-05 10:25] #53 closed

[2022-09-06 09:21] ahmadbajwa8282 commented on #53
I'm already showing ACTION_OPEN_DOCUMENT.
pdfPicker = PickiT(context, this, activity)
            val intent = Intent(Intent.ACTION_OPEN_DOCUMENT).apply {
                addCategory(Intent.CATEGORY_OPENABLE)
                type = "application/pdf"
            }
            launchForPDF.launch(Intent.createChooser(intent, "ChooseFile"))

[2022-09-14 07:40] ahmadbajwa8282 opened #54 "SecurityException"
I'm using **ACTION_OPEN_DOCUMENT** but still getting this crash.

[code]
[code]

[2022-09-14 08:18] HBiSoft commented on #54
I closed your previous issue because this is not related to the library..

Did you add the following in `onActivtyResult`?

[code]

[2022-09-14 09:46] ahmadbajwa8282 commented on #54
Ok thanks for your help.

[2022-09-14 09:46] #54 closed

[2022-10-13 13:30] AshishCodEx opened #55 "Android 12 > open failed: EACCES (Permission denied)"
Could not open file stream which is selected from downloads on OnePlus Nord OS version 12,
PickiTonCompleteListener returns wasSuccessful=true & also returns file path.
android:requestLegacyExternalStorage="true" is also set in manifest file

Log:

PickiTonCompleteListener: **selectedFilePath**: /storage/emulated/0/Download/PaymentReceipt_21748557_.pdf , **wasDriveFile**: false, **wasUnknownProvid

[2022-11-01 18:35] #55 closed